.airbnb-logo{max-height:80px;}
.airbnb-hero img{max-width:min(600px, 100%);}
.airbnb-hero p{font-size:1.5rem;}
.card-item .image-wrapper{position:relative;}
.card-item .image-wrapper .image-popover{position:absolute; top:10px; left:10px; padding:5px; background-color:#eee;}